# Membuat Tabel Pivot

In [ ]:
import pandas as pd

# example data
data = {
  "Tanggal": ["2022-01-01", "2022-01-01", "2022-01-02", "2022-01-012", "2022-01-03"],
  "Barang": ["Anggur", "Apel", "Jambu", "Pisang", "Duku"],
  "Penjualan": [100, 200, 150, 250, 180]
}

df = pd.DataFrame(data)

# pivot table
pivot_table = pd.pivot_table(df, values="Penjualan", index="Tanggal", columns="Barang", aggfunc="sum")

print(pivot_table)

Barang       Anggur   Apel   Duku  Jambu  Pisang
Tanggal
2022-01-01    100.0  200.0    NaN    NaN     NaN
2022-01-012     NaN    NaN    NaN    NaN   250.0
2022-01-02      NaN    NaN    NaN  150.0     NaN
2022-01-03      NaN    NaN  180.0    NaN     NaN